.star_wrapper {
  position: absolute;
  transform: translate(-50%);
  top: 0;
  left: 50%;
  z-index: 1;
  font-size: 20px;
  text-shadow: 0 2px 5px #000, 0 2px 5px #000;
  color: #6497af;
}

.yellow {
  color: #e4c157;
}

.platinum span {
  color: rgb(71, 177, 128) !important;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.star {
  cursor: pointer;
}