:root {
  --slot-bg-color: #fff;
  --trait-list-bg-color: #fff;
  --board-font-color: #000;
}

[data-theme='dark'] {
  --slot-bg-color: #606770;
  --trait-list-bg-color: #42474d;
  --board-font-color: #fff;
  color-scheme: dark;
}